

$medidas:(
    p1:100px,
    p2:50px,
    p3:20px,
);

.hijoAsideIndex1__titulo{
    
    padding-top: 15px + 5;
}


.asideCatedras{
    padding-left: 100px;

    margin-top: 50PX;

}

.imagenServicios{
    padding-top: 50px * 2;
    padding-left: 50px * 2;
}


.hijoAsideIndex2__titulo{
    padding-top: 10px + 10;
    margin-bottom: 50px * 2;
}