


.hijoMain1__titulo{
    padding-top: 20px;
}


.hijoMainImagen{
    width: 200px * 2;
    height: 100px * 2;
margin-left: 300px;
transform: rotateY(29deg);

} 


.tituloServicio{
    margin-top: 50px;
    margin-left: 10px + 10;
}


.contacto{
    height: 100px * 2;
    width: 200px * 2;
    margin-left: 200px * 2;
    margin-bottom: 150px;
}


